.HBox1{
    -fx-border-radius: 20;
    -fx-border-color: blue
}

.Button{
    -fx-min-width: 70;
    -fx-max-width: 70;
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 30,20,10;
    -fx-text-fill: black;
    -fx-font-size: 13px;
    -fx-padding: 5, 5, 5, 5;
}

Label{
    -fx-font-size: 30;
    -fx-font-family: "Times New Roman";
    -fx-border-radius: 20;
    -fx-padding: 10;
    -fx-pref-width: 100;
}